<h2>New Player</h2>

<form [formGroup]="newPlayerForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="avatarUrl">Avatar</label>
      <input
        class="form-control"
        type="text"
        id="avatarUrl"
        placeholder="Place here your avatar url"
        formControlName="avatarUrl">
        <p *ngIf="newPlayerForm.get('avatarUrl')?.touched && !newPlayerForm.get('avatarUrl')?.valid">Please check this field</p>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          placeholder="Place here your name"
          formControlName="name">
          <p *ngIf="newPlayerForm.get('name')?.touched && !newPlayerForm.get('name')?.valid">Please check this field</p>
      </div>
      <div class="form-group">
        <label for="alias">Alias</label>
        <input
          class="form-control"
          type="text"
          id="alias"
          placeholder="Place here your alias"
          formControlName="alias">
          <p *ngIf="newPlayerForm.get('alias')?.touched && !newPlayerForm.get('alias')?.valid">Please check this field</p>
      </div>
      <div class="row">
        <button type="button" (click)="onCancel()">Cancel</button>
        <button [disabled]="!newPlayerForm.valid" type="submit">Create Player</button>
      </div>
      <p *ngIf="newPlayerError">{{ newPlayerError }}</p>
</form>
