<p>
    <mat-toolbar color="primary" class="navbar">
      <div (click)="myAlert('Include navigation here')">
        <span>My FootGuild</span>
      </div>
      <mat-icon fontIcon="sports_soccer" class="icon"></mat-icon>

      <span (click)="myAlert('Include navigation here')">Matches</span>
      <span (click)="myAlert('Include navigation here')">Players</span>

      <span class="spacer"></span>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">   
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar>

  </p>